In [1]:
#installing all packages
import pandas as pd

In [2]:
#Data Loading
# Load the data (adjust path as needed)
large_emotion_dataset = pd.read_csv('data/emotions.csv')

In [ ]:
# Display the first few rows
large_emotion_dataset.head()

                                                text  label
0      i just feel really helpless and heavy hearted      4
1  ive enjoyed being able to slouch about relax a...      0
2  i gave up my internship with the dmrg and am f...      4
3                         i dont know i feel so lost      0
4  i am a kindergarten teacher and i am thoroughl...      4

In [4]:
large_emotion_dataset.describe()

               label
count  416809.000000
mean        1.554271
std         1.490453
min         0.000000
25%         0.000000
50%         1.000000
75%         3.000000
max         5.000000

In [5]:
# Display the first few rows
large_emotion_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416809 entries, 0 to 416808
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    416809 non-null  object
 1   label   416809 non-null  int64
dtypes: int64(1), object(1)
memory usage: 6.4+ MB

In [7]:
# Display the count of texts in each category
category_counts = large_emotion_dataset['label'].value_counts()
category_counts

label
1    141067
0    121187
3     57317
4     47712
2     34554
5     14972
Name: count, dtype: int64

In [8]:
# Filter out all rows where label is 5
df_no_surprise = large_emotion_dataset[large_emotion_dataset['label'] != 5]

# Display the first few rows of the new DataFrame
print(df_no_surprise.head())

                                                text  label
0      i just feel really helpless and heavy hearted      4
1  ive enjoyed being able to slouch about relax a...      0
2  i gave up my internship with the dmrg and am f...      4
3                         i dont know i feel so lost      0
4  i am a kindergarten teacher and i am thoroughl...      4

In [9]:
category_counts = df_no_surprise['label'].value_counts()
category_counts

label
1    141067
0    121187
3     57317
4     47712
2     34554
Name: count, dtype: int64

#### Handling missing and duplicate values in th dataset

In [10]:
# Check and remove duplicate text entries
df_no_duplicates = df_no_surprise.drop_duplicates(subset='text')

# Display the first few rows of the cleaned DataFrame
print(df_no_duplicates.head())

                                                text  label
0      i just feel really helpless and heavy hearted      4
1  ive enjoyed being able to slouch about relax a...      0
2  i gave up my internship with the dmrg and am f...      4
3                         i dont know i feel so lost      0
4  i am a kindergarten teacher and i am thoroughl...      4

In [11]:
category_counts = df_no_duplicates['label'].value_counts()
category_counts

label
1    135684
0    118571
3     54777
4     45492
2     29468
Name: count, dtype: int64

In [12]:
# Sampling 20k rows from each category 0, 1, 2, 3, 4
sampled_data = pd.concat([df_no_duplicates[df_no_duplicates['label'] == label].sample(n=20000, random_state=42) for label in range(5)])

# Store the sampled data to a new CSV file
sampled_data.to_csv('sampled_data.csv', index=False)

# Display the first few rows of the sampled data
print(sampled_data.head())

                                                     text  label
194099         i feel like my emotional range has shifted      0
335031  i had been feeling pretty low on the relations...      0
150915  i guess im glad they couldnt tell i was feelin...      0
45404   im not broke because all year ive been feeling...      0
239126  this issue worried me rather than saddening me...      0

In [13]:
category_counts = sampled_data['label'].value_counts()
category_counts
#sadness (0), joy (1), love (2), anger (3), and fear (4)

label
0    20000
1    20000
2    20000
3    20000
4    20000
Name: count, dtype: int64

In [ ]:
sampled_data

### Exploratory data analysis(EDA)

### Data Preprocessing

In [ ]:
def preprocessing(data):

### Feature Engineering

### Model Selection and Training